In [3]:
import pandas as pd

df = pd.read_csv("https://london-example-david-baker.s3.eu-west-2.amazonaws.com/works_composer.csv")

df.head()

     composer_key                 work_key
0      Abe, Keiko   Prism Marimba Concerto
1  Abels, Michael      Delights and Dances
2  Abels, Michael                 New work
3   Abrams, Teddy  Overture in Sonata Form
4     Adams, John           Becoming River